doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="/javascripts/Three.js")
    script(type="text/javascript" src="/javascripts/STLLoader.js")
    script(type="text/javascript" src="/javascripts/CopyShader.js")
    script(type="text/javascript" src="/javascripts/DepthLimitedBlurShader.js")
    script(type="text/javascript" src="/javascripts/EffectComposer.js")
    script(type="text/javascript" src="/javascripts/RenderPass.js")
    script(type="text/javascript" src="/javascripts/SAOPass.js")
    script(type="text/javascript" src="/javascripts/SAOShader.js")
    script(type="text/javascript" src="/javascripts/ShaderPass.js")
    script(type="text/javascript" src="/javascripts/FXAAShader.js")
    script(type="text/javascript" src="/javascripts/ShaderExtras.js")
    script(type="text/javascript" src="/javascripts/UnpackDepthRGBAShader.js")
    script(type="text/javascript" src="/javascripts/socket.io.js")
  body
    block content
  script(type="text/javascript" src="/javascripts/visualiser.js")
